# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
.pytest_cache/
.coverage
htmlcov/

# Django
db.sqlite3
db.sqlite3-journal
*.log
staticfiles/
media/

# Environment variables
.env
.env.*
!.env.example

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# IDEs
.idea/
.vscode/
*.swp
*.swo
*.sublime-project
*.sublime-workspace
